name: sub workflow

on:
  workflow_run:
    workflows:
      - "main workflow"
    types: 
      - completed

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          echo "Hello World"
