name: '[wf] sub_workflow'

on:
  workflow_run:
    workflows:
      - '[wf] main_workflow'
    types: 
      - completed

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          echo "Hello World"
